<form action="">
  <h1>Criar novo</h1>
  <div class="nomeData">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field class="data-nascimento" appearance="fill">
      <mat-label>Input disabled</mat-label>
      <input matInput [matDatepicker]="dp3" disabled />
      <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
      <mat-datepicker #dp3 disabled="false"></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="cidadeEndereco">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Cidade Natal</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Endereço</mat-label>
      <input matInput />
    </mat-form-field>
  </div>
  <div class="buttons">
    <button (click)="voltar()">Voltar</button>
    <button>Inserir</button>
  </div>
</form>
