form {
    width: 85%;
    margin: 2rem auto 0 auto;
    text-align: center;
}

.data-nascimento {
    text-align: left;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.form{
    width: 100%;
}

.buttons {
    width: 100%;
}

button {
    margin-right: .5rem;
}

.class-input{
    margin-left: 1rem;
    width: 30%;
}