<form action="">
  <h1>Criar nova Pessoa</h1>
  <div class="form">
    <mat-form-field class="class-input" appearance="fill">
      <mat-label>Nome</mat-label>
      <input [(ngModel)]="pessoa.nome" name="pessoa.nome" matInput />
    </mat-form-field>
    <mat-form-field class="data-nascimento class-input" appearance="fill">
      <mat-label>Data de Nascimento</mat-label>
      <input [(ngModel)]="pessoa.dataNascimento" name="pessoa.dataNascimento" matInput [matDatepicker]="dp3" disabled />
      <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
      <mat-datepicker #dp3 disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="class-input" appearance="fill">
      <mat-label>Cidade Natal</mat-label>
      <input [(ngModel)]="pessoa.cidadeNatal" name="pessoa.cidadeNatal" matInput />
    </mat-form-field>
  </div>
  <div class="form">
    <mat-form-field class="class-input" appearance="fill">
      <mat-label>Endereço</mat-label>
      <input matInput [(ngModel)]="pessoa.endereco" name="pessoa.endereco"/>
    </mat-form-field>
    <mat-form-field class="class-input" appearance="fill">
      <mat-label>Numero endereço</mat-label>
      <input matInput [(ngModel)]="pessoa.numeroEndereco" name="pessoa.numeroEndereco"/>
    </mat-form-field>
    <mat-form-field class="class-input" appearance="fill">
      <mat-label>Complemento do Endereço</mat-label>
      <input matInput [(ngModel)]="pessoa.complementoEndereco" name="pessoa.complementoEndereco"/>
    </mat-form-field>
  </div>
  <div class="form">
    <mat-form-field class="class-input" appearance="fill">
      <mat-label>Sexo</mat-label>
      <input matInput [(ngModel)]="pessoa.sexo" name="pessoa.sexo"/>
    </mat-form-field>
    <mat-form-field class="class-input" appearance="fill">
      <mat-label>CPF</mat-label>
      <input matInput [(ngModel)]="pessoa.cpf" name="pessoa.cpf"/>
    </mat-form-field>
    <mat-form-field class="class-input" appearance="fill">
      <mat-label>Telefone Residencial</mat-label>
      <input matInput [(ngModel)]="pessoa.telefoneResidencial" name="pessoa.telefoneResidencial"/>
    </mat-form-field>
  </div>
  <div class="form">
    <mat-form-field class="class-input" appearance="fill">
      <mat-label>Telefone Celular</mat-label>
      <input matInput [(ngModel)]="pessoa.telefoneCelular" name="pessoa.telefoneCelular"/>
    </mat-form-field>
    <mat-form-field class="class-input" appearance="fill">
      <mat-label>Documento</mat-label>
      <input matInput [(ngModel)]="pessoa.documento" name="pessoa.documento"/>
    </mat-form-field>
    <mat-form-field class="class-input" appearance="fill">
      <mat-label>Tipo do Documento</mat-label>
      <input matInput [(ngModel)]="pessoa.tipoDocumento" name="pessoa.tipoDocumento"/>
    </mat-form-field>
  </div>
  <div class="form">
    <mat-form-field class="class-input" appearance="fill">
      <mat-label>Senha Acesso</mat-label>
      <input matInput [(ngModel)]="pessoa.senhaAcesso" name="pessoa.senhaAcesso"/>
    </mat-form-field>
    <mat-form-field class="class-input" appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput [(ngModel)]="pessoa.email" name="pessoa.email"/>
    </mat-form-field>
    <mat-form-field class="data-nascimento class-input" appearance="fill">
      <mat-label>Data de Cadastro</mat-label>
      <input [(ngModel)]="pessoa.dataCadastro" name="pessoa.dataCadastro" matInput [matDatepicker]="dp1" disabled />
      <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
      <mat-datepicker #dp1 disabled="false"></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="buttons">
    <button (click)="voltar()" class="novo mat-elevation-z8" mat-stroked-button color="primary">Voltar</button>
    <button (click)="criar()" class="novo mat-elevation-z8"   mat-stroked-button color="primary">Inserir</button>
  </div>
</form>
